---
import Layout from '../../layouts/blog.astro';
import { fetchBlogPosts } from '../../data/blog';
---

<Layout title="Stefan's Corner - Blog">
    <main class="row-span-6 relative">

    </main>
</Layout>