---
import Layout from '../layouts/base.astro';
import Block from '../components/block.astro';
import fetchAboutPageData from '../data/about';

const data: any = await fetchAboutPageData();
---

<Layout title="Stefan's Corner - About">
    <main class="row-span-6 relative">
        <div class="flex flex-col w-full items-center pt-20">
            <div class="flex flex-row w-full justify-center">
                <h1 class="font-bold text-6xl">{data.heading}</h1>
            </div>
            <Block widthClass="w-4/5 md:w-3/5" blocks={data.content.blocks} />
        </div>
    </main>
</Layout>