---
import Layout from '../layouts/Layout.astro';
import ParticleOrb from '../components/particle_orb';
---

<Layout title="Welcome to Astro.">
	<main class="bg-neutral-900">
		<ParticleOrb client:load />
	</main>
</Layout>