---
import Layout from '../layouts/base.astro';
import ParticleBackground from '../components/landing/background';
import HeroSection from '../components/landing/hero';
import AboutSection from '../components/landing/about';
import SkillsSection from '../components/landing/skills';
---

<Layout title="Welcome to Astro.">
	<main class="row-span-6 relative">
		<ParticleBackground client:load />
		<HeroSection client:load />
		<AboutSection client:visible />
		<SkillsSection client:visible />
	</main>
</Layout>