---
import Layout from '../layouts/Layout.astro';
import ParticleWave from '../components/particle_wave';
import ParticleOrb from '../components/particle_orb';
---

<Layout title="Welcome to Astro.">
	<main class="w-screen h-screen bg-neutral-900">
		<ParticleOrb client:load />
	</main>
</Layout>

