---
import Layout from '../layouts/base.astro';
import ParticleBackground from '../components/landing/background';
import HeroSection from '../components/landing/hero';
import AboutSection from '../components/landing/about';
import SkillsSection from '../components/landing/skills';
import ProjectSection from '../components/landing/projects';
import ContactSection from '../components/landing/contact';
---

<Layout title="Stefan's Corner - Home">
	<main class="row-span-6 relative">
		<ParticleBackground client:idle />
		<HeroSection client:load />
		<AboutSection client:visible />
		<SkillsSection client:load />
		<ProjectSection client:visible />
		<ContactSection client:visible />
	</main>
</Layout>