---
import Layout from '../layouts/base.astro';
import ParticleBackground from '../components/landing/background';
import HeroSection from '../components/landing/hero';
import AboutSection from '../components/landing/about';
import SkillsSection from '../components/landing/skills';
import ProjectSection from '../components/landing/projects';
import ContactSection from '../components/landing/contact';
import UpSection from '../components/landing/up';
import fetchLandingPageData from '../data/landing';


const data: any = await fetchLandingPageData();
---

<Layout title="Welcome to Astro.">
	<main class="row-span-6 relative">
		<ParticleBackground client:idle />
		<HeroSection client:load />
		<AboutSection data={data.aboutsection} client:visible />
		<SkillsSection data={data.skills} client:load />
		<ProjectSection data={data.projects} client:visible />
		<ContactSection client:visible />
		<UpSection client:visible />
	</main>
</Layout>