---
import { ViewTransitions } from 'astro:transitions';
import { config } from '@fortawesome/fontawesome-svg-core';
import LandingPageContainer from '../components/landing/container';
import BaseBody from './base_body.astro';
import '@fortawesome/fontawesome-svg-core/styles.css';
import '../styles/app.css';

config.autoAddCss = false;
export interface Props {
	title: string;
	landingPage?: boolean;
}

const { title, landingPage = false } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Personal portfolio site of Stefan Netterfield..." />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link rel="icon" type="image/x-icon" sizes="16x16 32x32 48x48 64x64" href="/favicons/favicon.ico" />
		<link rel="apple-touch-icon" sizes="120x120 152x152 167x167 180x180" href="/favicons/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="144x144 192x192" href="/favicons/android-chrome-192x192.png" />
		<link rel="icon" type="image/png" sizes="256x256 384x384 512x512" href="/favicons/android-chrome-512x512.png" />
		<link rel="manifest" href="/favicons/site.webmanifest" />
		<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#980404" />
		<meta name="msapplication-TileColor" content="#171717" />
		<meta name="theme-color" content="#171717" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap" rel="stylesheet" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="grid grid-cols-1 grid-rows-[auto_auto_2fr] bg-neutral-800 text-neutral-200 font-sans">
		{landingPage ? (
			<LandingPageContainer client:load>
				<BaseBody>
					<slot />
				</BaseBody>
			</LandingPageContainer>
		) : (
			<BaseBody>
				<slot />
			</BaseBody>
		)}
	</body>
</html>