---
import { Image } from 'astro:assets';
import { NavBar, PrimaryOffCanvasMenu } from '../components/layout/nav';
import HireBadge from '../components/layout/hireBadge';
import SocialIcons from '../components/layout/socialIcons';
import siteLogo from '../../public/personal_site_logo_transparent_background.png';
---

<NavBar client:load>
    <Image
        src={siteLogo}
        slot="siteIcon"
        class="w-nav-logo h-nav-logo aspect-auto"
        alt="Logo for portfolio website" />
    <ul class="hidden md:flex md:gap-x-6 lg:gap-x-12" slot="navLinkList">
        <li class="text-sm font-semibold leading-6 transition-colors ease-linear hover:text-dark-red">
            <a href="/">Home</a>
        </li>
        <li class="text-sm font-semibold leading-6 transition-colors ease-linear hover:text-dark-red">
            <a href="/about">About</a>
        </li>
        <li class="text-sm font-semibold leading-6 transition-colors ease-linear hover:text-dark-red">
            <a href="/skills">Skills</a>
        </li>
        <li class="text-sm font-semibold leading-6 transition-colors ease-linear hover:text-dark-red">
            <a href="/projects">Projects</a>
        </li>
        <li class="text-sm font-semibold leading-6 transition-colors ease-linear hover:text-dark-red">
            <a href="/contact">Contact</a>
        </li>
    </ul>
</NavBar>
<PrimaryOffCanvasMenu client:media="(max-width: 768px)" transition:persist>
    <Image
        src={siteLogo}
        slot="siteIcon"
        class="w-nav-logo h-nav-logo aspect-auto"
        alt="Logo for portfolio website" />
    <ul class="space-y-2 py-6" slot="navLinkList">
        <li class="-mx-3 block transition-colors ease-linear rounded-lg px-3 py-2 text-2xl text-center font-bold leading-7 hover:text-dark-red">
            <a href="/">Home</a>
        </li>
        <li class="-mx-3 block transition-colors ease-linear rounded-lg px-3 py-2 text-2xl text-center font-bold leading-7 hover:text-dark-red">
            <a href="/about">About</a>
        </li>
        <li class="-mx-3 block transition-colors ease-linear rounded-lg px-3 py-2 text-2xl text-center font-bold leading-7 hover:text-dark-red">
            <a href="/skills">Skills</a>
        </li>
        <li class="-mx-3 block transition-colors ease-linear rounded-lg px-3 py-2 text-2xl text-center font-bold leading-7 hover:text-dark-red">
            <a href="/projects">Projects</a>
        </li>
        <li class="-mx-3 block transition-colors ease-linear rounded-lg px-3 py-2 text-2xl text-center font-bold leading-7 hover:text-dark-red">
            <a href="/contact">Contact</a>
        </li>
    </ul>
</PrimaryOffCanvasMenu>
<slot />
<footer class="flex flex-col snap-end md:flex-row justify-center md:justify-between mx-2 md:mx-4 p-6 lg:p-8">
    <div class="flex flex-col w-full md:w-1/2 items-center md:items-start">
        <div class="my-2">
            <HireBadge client:visible />
        </div>
        <span><span class="font-bold my-2 md:my-0">Hours</span>: 9AM - 9PM (EST.)</span>
        <span class="font-thin my-2 md:my-0">&copy; Copyright 2023</span>
    </div>
    <div class="flex flex-col w-full md:w-1/2 justify-center md:justify-end my-2 md:my-0">
        <SocialIcons client:visible />
    </div>
</footer>